* {
  --color-bg-primary: #1f2937;
  --color-bg-secondary: #111827;
  --color-bg-accent: #4b5563;

  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;

  --color-text-accent: #81e6d9;
}

@tailwind base;

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../static/fonts/source-serif-pro-release/OTF/SourceSerifPro-Regular.otf')
    format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../static/fonts/source-serif-pro-release/OTF/SourceSerifPro-Semibold.otf')
    format('opentype');
  font-weight: 500;
}

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco,
    Segoe UI, Roboto, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h2 {
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 34px;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
}

p {
  font-size: 18px;
  letter-spacing: -0.015em;
  line-height: 25px;
}

a {
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  opacity: 0.5;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.serif {
  font-family: 'Source Serif Pro', -apple-system, BlinkMacSystemFont,
    San Francisco, Segoe UI, Roboto, Helvetica Neue, serif;
}

@tailwind components;
@tailwind utilities;
